In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Life Expectancy Data.csv')

df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
#here, total number of rows is 2938 and total number of columns are 22
df.shape

(2938, 22)

# Number of data in each column

In [4]:
df.count()

Country                            2938
Year                               2938
Status                             2938
Life expectancy                    2928
Adult Mortality                    2928
infant deaths                      2938
Alcohol                            2744
percentage expenditure             2938
Hepatitis B                        2385
Measles                            2938
 BMI                               2904
under-five deaths                  2938
Polio                              2919
Total expenditure                  2712
Diphtheria                         2919
 HIV/AIDS                          2938
GDP                                2490
Population                         2286
 thinness  1-19 years              2904
 thinness 5-9 years                2904
Income composition of resources    2771
Schooling                          2775
dtype: int64

# Number of Unique value in each column

In [5]:
df.nunique()

Country                             193
Year                                 16
Status                                2
Life expectancy                     362
Adult Mortality                     425
infant deaths                       209
Alcohol                            1076
percentage expenditure             2328
Hepatitis B                          87
Measles                             958
 BMI                                608
under-five deaths                   252
Polio                                73
Total expenditure                   818
Diphtheria                           81
 HIV/AIDS                           200
GDP                                2490
Population                         2278
 thinness  1-19 years               200
 thinness 5-9 years                 207
Income composition of resources     625
Schooling                           173
dtype: int64

# Checking for null value

In [6]:
df.isnull()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2937,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
#This below series shows number of missing value from the dataframe
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Droping rows that contain null value

In [8]:
df.dropna(inplace = True)
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [9]:
df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [10]:
#Total number of null values in dataframe
df.isnull().sum().sum()

0

In [11]:
#shape of dataframe
df.shape
#the new dataset has only 1649 rows wehere as old dataset had 2938.
#Hence, 1289 number of dataset has been dropped; which is more than 200 rows of data.

(1649, 22)

In [12]:
df = pd.read_csv('Life Expectancy Data.csv')
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [13]:
#column with null values are alcohol hepatitis B, GDP, Population and many more
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Handling Alcohol column null value

In [14]:
df['Alcohol'].fillna(value = df['Alcohol'].mean(), inplace = True)

In [15]:
df['Alcohol'].isnull().sum()

0

In [16]:
df.head(20)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
10,Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,1296,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9
11,Afghanistan,2004,Developing,57.0,293.0,87,0.02,15.296066,67.0,466,...,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8
12,Afghanistan,2003,Developing,56.7,295.0,87,0.01,11.089053,65.0,798,...,41.0,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5
13,Afghanistan,2002,Developing,56.2,3.0,88,0.01,16.887351,64.0,2486,...,36.0,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2
14,Afghanistan,2001,Developing,55.3,316.0,88,0.01,10.574728,63.0,8762,...,35.0,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9
15,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
16,Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
17,Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
18,Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
19,Albania,2012,Developing,76.9,86.0,0,5.14,412.443356,99.0,9,...,99.0,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2

In [17]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Filling null value of Adult Mortality

In [18]:
df['Adult Mortality'].fillna(value = df['Adult Mortality'].mean(), inplace = True)

In [19]:
df['Adult Mortality'].isnull().sum()

0

In [20]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [21]:
# Filling null value of Hepatitis B
df['Hepatitis B'].fillna(value = df['Hepatitis B'].mean(), inplace = True)

In [22]:
df['Hepatitis B'].isnull().sum()

0

# Filling null values of BMI

In [23]:
df[' BMI '].fillna(value = df[' BMI '].mean(), inplace = True)

In [24]:
df[' BMI '].isnull().sum()

0

In [25]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Dealing with Total expenditure null value

In [26]:
df['Total expenditure'].fillna(value = df['Total expenditure'].mean(), inplace = True)

In [27]:
df['Total expenditure'].isnull().sum()

0

In [28]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                               19
Total expenditure                    0
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Dealing with GDP null value

In [29]:
df['GDP'].fillna(value = df['GDP'].mean(), inplace = True)

In [30]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                               19
Total expenditure                    0
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Dealing with Population null values

In [31]:
df['Population'].fillna(value = df['Population'].mean(), inplace = True)

In [32]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                               19
Total expenditure                    0
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                           0
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Dealing with Polio null value

In [33]:
df['Polio'].fillna(value = df['Polio'].mean(), inplace = True)

In [34]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                           0
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Dealing with Diphtheria null values

In [35]:
df['Diphtheria '].fillna(value = df['Diphtheria '].mean(), inplace = True)

In [36]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                 0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
 HIV/AIDS                            0
GDP                                  0
Population                           0
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Dealing with thinness 1-19 years null values

In [37]:
df[' thinness  1-19 years'].fillna(value = df[' thinness  1-19 years'].mean(), inplace = True)

In [38]:
df[' thinness  1-19 years'].isnull().sum()

0

# Dealing with thinness 5-9 years null values

In [39]:
df[' thinness 5-9 years'].fillna(value = df[' thinness 5-9 years'].mean(), inplace = True)

In [40]:
df[' thinness 5-9 years'].isnull().sum()

0

# Dealing with Income composition of resources null values

In [41]:
df['Income composition of resources'].fillna(value = df['Income composition of resources'].mean(), inplace = True)

In [42]:
df['Income composition of resources'].isnull().sum()

0

# Dealing with Schooling null values

In [43]:
df['Schooling'].fillna(value = df['Schooling'].mean(), inplace = True)

In [44]:
df['Schooling'].isnull().sum()

0

In [45]:
df.isnull().sum()

Country                             0
Year                                0
Status                              0
Life expectancy                    10
Adult Mortality                     0
infant deaths                       0
Alcohol                             0
percentage expenditure              0
Hepatitis B                         0
Measles                             0
 BMI                                0
under-five deaths                   0
Polio                               0
Total expenditure                   0
Diphtheria                          0
 HIV/AIDS                           0
GDP                                 0
Population                          0
 thinness  1-19 years               0
 thinness 5-9 years                 0
Income composition of resources     0
Schooling                           0
dtype: int64

# Dealing with Life expectancy null values

In [46]:
df['Life expectancy '].fillna(value = df['Life expectancy '].mean(), inplace = True)

In [47]:
df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [48]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

# Data that has Life expectancy above 80

In [49]:
#253 data has life expectancy above 80
df[df['Life expectancy '] > 80].shape

(253, 22)

In [50]:
low_life_expectancy_indexs = df[df['Life expectancy '] < 80].index
low_life_expectancy_indexs

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            2928, 2929, 2930, 2931, 2932, 2933, 2934, 2935, 2936, 2937],
           dtype='int64', length=2674)

In [51]:
df.drop(low_life_expectancy_indexs, inplace = True)

In [52]:
df.head(20)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
112,Australia,2015,Developed,82.8,59.0,1,4.602861,0.000000,93.0,74,...,93.0,5.93819,93.0,0.1,56554.38760,23789338.0,0.6,0.6,0.937,20.4
113,Australia,2014,Developed,82.7,6.0,1,9.710000,10769.363050,91.0,340,...,92.0,9.42000,92.0,0.1,62214.69120,2346694.0,0.6,0.6,0.936,20.4
114,Australia,2013,Developed,82.5,61.0,1,9.870000,11734.853810,91.0,158,...,91.0,9.36000,91.0,0.1,67792.33860,23117353.0,0.6,0.6,0.933,20.3
115,Australia,2012,Developed,82.3,61.0,1,10.030000,11714.998580,91.0,199,...,92.0,9.36000,92.0,0.1,67677.63477,22728254.0,0.6,0.6,0.930,20.1
116,Australia,2011,Developed,82.0,63.0,1,10.300000,10986.265270,92.0,190,...,92.0,9.20000,92.0,0.1,62245.12900,223424.0,0.6,0.6,0.927,19.8
117,Australia,2010,Developed,81.9,64.0,1,10.520000,8875.786493,92.0,70,...,92.0,9.20000,92.0,0.1,51874.84800,223175.0,0.7,0.6,0.927,19.5
118,Australia,2009,Developed,81.7,66.0,1,10.620000,7172.275229,94.0,104,...,92.0,9.50000,92.0,0.1,42742.99898,216917.0,0.7,0.6,0.925,19.1
119,Australia,2008,Developed,81.3,66.0,1,10.760000,8547.292357,94.0,65,...,92.0,8.78000,92.0,0.1,49664.68540,212492.0,0.7,0.6,0.921,19.1
120,Australia,2007,Developed,81.3,66.0,1,10.560000,872.598609,94.0,11,...,92.0,8.53000,92.0,0.1,4991.98289,28276.0,0.7,0.6,0.918,19.0
121,Australia,2006,Developed,81.2,66.0,1,10.310000,6187.062017,95.0,0,...,92.0,8.49000,92.0,0.1,36118.28381,26979.0,0.7,0.6,0.915,20.3
122,Australia,2005,Developed,81.0,67.0,1,10.300000,579.133164,95.0,10,...,92.0,8.45000,92.0,0.1,3416.71483,23948.0,0.7,0.6,0.910,20.3
123,Australia,2004,Developed,86.0,69.0,1,9.840000,588.568371,95.0,70,...,92.0,8.57000,92.0,0.1,3472.37977,21274.0,0.7,0.6,0.908,20.7
124,Australia,2003,Developed,83.0,71.0,1,9.970000,3829.550928,95.0,91,...,92.0,8.32000,93.0,0.1,23465.38559,198954.0,0.7,0.7,0.905,20.6
128,Austria,2015,Developed,81.5,65.0,0,4.602861,0.000000,93.0,309,...,93.0,5.93819,93.0,0.1,43665.94700,8633169.0,1.9,2.1,0.892,15.9
129,Austria,2014,Developed,81.4,66.0,0,12.320000,8350.193523,98.0,117,...,98.0,11.21000,98.0,0.1,51322.63997,8541575.0,1.8,2.0,0.892,15.9
130,Austria,2013,Developed,81.1,68.0,0,11.820000,90.585012,95.0,0,...,95.0,11.14000,95.0,0.1,554.71532,8479375.0,1.8,2.0,0.887,15.7
131,Austria,2012,Developed,88.0,7.0,0,12.260000,7878.372355,92.0,36,...,92.0,11.17000,92.0,0.1,48333.57273,8429991.0,1.8,2.0,0.884,15.7
132,Austria,2011,Developed,88.0,73.0,0,12.040000,8272.306757,89.0,68,...,89.0,1.94000,89.0,0.1,51126.74139,8391643.0,1.7,2.0,0.880,15.7
133,Austria,2010,Developed,84.0,75.0,0,12.100000,7423.228774,86.0,52,...,86.0,11.17000,86.0,0.1,46657.62900,836344.0,1.7,1.9,0.872,15.4
134,Austria,2009,Developed,82.0,77.0,0,11.300000,8053.557638,83.0,49,...,83.0,11.19000,83.0,0.1,47654.18721,8343323.0,1.7,1.9,0.870,15.3

In [53]:
df.reset_index()

,index,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,112,Australia,2015,Developed,82.8,59.0,1,4.602861,0.00000,93.000000,...,93.0,5.93819,93.0,0.1,56554.387600,2.378934e+07,0.6,0.6,0.937000,20.400000
1,113,Australia,2014,Developed,82.7,6.0,1,9.710000,10769.36305,91.000000,...,92.0,9.42000,92.0,0.1,62214.691200,2.346694e+06,0.6,0.6,0.936000,20.400000
2,114,Australia,2013,Developed,82.5,61.0,1,9.870000,11734.85381,91.000000,...,91.0,9.36000,91.0,0.1,67792.338600,2.311735e+07,0.6,0.6,0.933000,20.300000
3,115,Australia,2012,Developed,82.3,61.0,1,10.030000,11714.99858,91.000000,...,92.0,9.36000,92.0,0.1,67677.634770,2.272825e+07,0.6,0.6,0.930000,20.100000
4,116,Australia,2011,Developed,82.0,63.0,1,10.300000,10986.26527,92.000000,...,92.0,9.20000,92.0,0.1,62245.129000,2.234240e+05,0.6,0.6,0.927000,19.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,2764,United Kingdom of Great Britain and Northern I...,2013,Developed,87.0,72.0,3,10.320000,0.00000,80.940461,...,95.0,9.34000,95.0,0.1,7483.158469,1.275338e+07,0.8,0.5,0.627551,11.992793
260,2765,United Kingdom of Great Britain and Northern I...,2012,Developed,86.0,72.0,3,10.420000,0.00000,80.940461,...,95.0,9.41000,95.0,0.1,7483.158469,1.275338e+07,0.8,0.5,0.627551,11.992793
261,2766,United Kingdom of Great Britain and Northern I...,2011,Developed,86.0,74.0,3,10.680000,0.00000,80.940461,...,95.0,9.34000,95.0,0.1,7483.158469,1.275338e+07,0.8,0.5,0.627551,11.992793
262,2767,United Kingdom of Great Britain and Northern I...,2010,Developed,82.0,77.0,3,10.880000,0.00000,80.940461,...,94.0,9.51000,94.0,0.1,7483.158469,1.275338e+07,0.8,0.5,0.627551,11.992793
263,2768,United Kingdom of Great Britain and Northern I...,2009,Developed,81.0,78.0,4,10.790000,0.00000,80.940461,...,93.0,9.81000,93.0,0.1,7483.158469,1.275338e+07,0.8,0.5,0.627551,11.992793