In [12]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in e:\program_file\python\lib\site-packages (1.19.3)

WARNING: You are using pip version 20.1.1; however, version 21.1.2 is available.
You should consider upgrading via the 'e:\program_file\python\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in e:\program_file\python\lib\site-packages (1.1.4)
Requirement already satisfied: numpy>=1.15.4 in e:\program_file\python\lib\site-packages (from pandas) (1.19.3)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\program_file\python\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in e:\program_file\python\lib\site-packages (from pandas) (2020.4)
Requirement already satisfied: six>=1.5 in e:\program_file\python\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.1.1; however, version 21.1.2 is available.
You should consider upgrading via the 'e:\program_file\python\python.exe -m pip install --upgrade pip' command.

In [13]:
import pandas as pd
import numpy as np

In [14]:
df=pd.read_csv('EDA02titanic.csv')

In [18]:
age = df['age']

In [20]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [23]:
age.to_frame

<bound method Series.to_frame of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64>

In [24]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [25]:
#count does not returns missing value
age.count()

714

In [28]:
#but age.size does
age.size

891

In [29]:
#as well as size
len(age)

891

In [30]:
#ignores nan values
age.sum()

21205.17

In [31]:
#when there is nan value in df
sum(age)

nan

In [32]:
#deefaukt value is True, but if we set value to false, it count nan too
age.sum(skipna = False)

nan

In [33]:
age.mean()

29.69911764705882

In [34]:
age.std()

14.526497332334042

In [35]:
age.min()

0.42

In [36]:
age.max()

80.0

In [37]:
age.median()

28.0

In [38]:
age.var()

211.01912474630802

In [39]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [40]:
len(age.unique())

89

In [41]:
#exclude default value nan
age.nunique()

88

In [42]:
#include nan value too
age.nunique(dropna = False)

89

In [44]:
#returns number of repeated value in df
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [45]:
age.value_counts(dropna= False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
36.50      1
55.50      1
66.00      1
23.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [47]:
#when sort is false
age.value_counts(sort= False)

22.00    27
38.00    11
26.00    18
35.00    18
54.00     8
         ..
0.92      1
0.83      2
0.67      1
70.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [49]:
#sorting according to ascending order
age.value_counts(ascending= True)

0.42      1
23.50     1
66.00     1
70.50     1
55.50     1
         ..
30.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [51]:
#normalize the value
age.value_counts(normalize=True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
30.00    0.035014
           ...
55.50    0.001401
70.50    0.001401
66.00    0.001401
23.50    0.001401
0.42     0.001401
Name: age, Length: 88, dtype: float64

In [50]:
age.value_counts(ascending= True,sort=True,dropna=True,normalize=False)

0.42      1
23.50     1
66.00     1
70.50     1
55.50     1
         ..
30.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [53]:
#divides data into 5 different parts
age.value_counts(sort=True, ascending= False, bins = 5)

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

In [62]:
summer = pd.read_csv('EDA02summer.csv')

In [63]:
athlete = summer['Athlete']

In [64]:
athlete.tail()

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [67]:
athlete.shape

(31165,)

In [68]:
athlete.count()

31165

In [70]:
athlete.size

31165

In [71]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [72]:
athlete.min()

'AABYE, Edgar'

In [73]:
athlete.max()

'ÖSTRAND, Per-Olof'

In [74]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [75]:
len(athlete.unique())

22762

In [76]:
athlete.nunique()

22762

In [78]:
#bins doesnot work
athlete.value_counts(sort=True,ascending=True, normalize=True)

CARVER-DIAS, Claire       0.000032
OLESHCHUK, Gennady        0.000032
TANGERAAS, Trine          0.000032
BARDOSI, Sandor Istvan    0.000032
LIN, Weining              0.000032
                            ...
ONO, Takashi              0.000417
SHAKHLIN, Boris           0.000417
ANDRIANOV, Nikolay        0.000481
LATYNINA, Larisa          0.000578
PHELPS, Michael           0.000706
Name: Athlete, Length: 22762, dtype: float64

In [79]:
summer.iloc[:,4]

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [80]:
summer['Athlete']

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [84]:
summer = pd.read_csv('EDA02summer.csv',usecols=['Athlete','Event'])
summer

                         Athlete                       Event
0                  HAJOS, Alfred              100M Freestyle
1               HERSCHMANN, Otto              100M Freestyle
2              DRIVAS, Dimitrios  100M Freestyle For Sailors
3             MALOKINIS, Ioannis  100M Freestyle For Sailors
4             CHASAPIS, Spiridon  100M Freestyle For Sailors
...                          ...                         ...
31160         JANIKOWSKI, Damian                    Wg 84 KG
31161  REZAEI, Ghasem Gholamreza                    Wg 96 KG
31162             TOTROV, Rustam                    Wg 96 KG
31163          ALEKSANYAN, Artur                    Wg 96 KG
31164             LIDBERG, Jimmy                    Wg 96 KG

[31165 rows x 2 columns]

In [86]:
#squeeze return data in series 
summer = pd.read_csv('EDA02summer.csv',usecols=['Athlete'],squeeze=True)
summer

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [87]:
pd.Series([5,6,7,74,26])

0     5
1     6
2     7
3    74
4    26
dtype: int64

In [89]:
#series through list
pd.Series([4,62,12,45,23],index=["sun",'mon','tue','wed','thur'],name = 'Days')

sun      4
mon     62
tue     12
wed     45
thur    23
Name: Days, dtype: int64

In [90]:
#series through array
sale = np.array([5,4,5,2,3])
pd.Series(sale)

0    5
1    4
2    5
3    2
4    3
dtype: int32

In [91]:
sale = (3,75,1,21,32)
pd.Series(sale)

0     3
1    75
2     1
3    21
4    32
dtype: int64

In [92]:
dict = {'mon':56,'tue':33,'wed':34,'thur':80}
dict

{'mon': 56, 'tue': 33, 'wed': 34, 'thur': 80}

In [93]:
#series through dict
pd.Series(dict)

mon     56
tue     33
wed     34
thur    80
dtype: int64

In [97]:
#can add new index in dict
pd.Series(dict,index=['mon','tue','wed','sun','thur','fri'])

mon     56.0
tue     33.0
wed     34.0
sun      NaN
thur    80.0
fri      NaN
dtype: float64

In [99]:
pd.Series(dict,index=[1,2,3,4,5,'mon'])

1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
mon    56.0
dtype: float64

In [111]:
dict = {1:10,2:58,3:12,6:12,5:12}
sale = pd.Series(dict)
sale

1    10
2    58
3    12
6    12
5    12
dtype: int64

In [112]:
sale.sort_index()

1    10
2    58
3    12
5    12
6    12
dtype: int64

In [117]:
#makes changes pernament 
sale.sort_index(ascending = True,inplace = True)

In [116]:
sale

1    10
2    58
3    12
5    12
6    12
dtype: int64

In [122]:
dict = {1:42,2:23,4:18,6:21,5:1,7:None}
dict

{1: 42, 2: 23, 4: 18, 6: 21, 5: 1, 7: None}

In [123]:
sale = pd.Series(dict)
sale

1    42.0
2    23.0
4    18.0
6    21.0
5     1.0
7     NaN
dtype: float64

In [124]:
sale.sort_values()

5     1.0
4    18.0
6    21.0
2    23.0
1    42.0
7     NaN
dtype: float64

In [126]:
sale.sort_values(na_position = 'first')

7     NaN
5     1.0
4    18.0
6    21.0
2    23.0
1    42.0
dtype: float64

In [128]:
sale.sort_values(na_position = 'last',ascending=True)

5     1.0
4    18.0
6    21.0
2    23.0
1    42.0
7     NaN
dtype: float64

In [130]:
sale

1    42.0
2    23.0
4    18.0
6    21.0
5     1.0
7     NaN
dtype: float64

In [131]:
#it won't change now cause inplace is True
sale.sort_values(na_position = 'last',ascending=True,inplace=True)

In [132]:
sale

5     1.0
4    18.0
6    21.0
2    23.0
1    42.0
7     NaN
dtype: float64

In [137]:
dict = {'mon':56,'tue':33,'sun':34,'thur':80}
dict
abc = pd.Series(dict)

In [138]:
#arranging value in ascending order of index
abc.sort_index()

mon     56
sun     34
thur    80
tue     33
dtype: int64

In [140]:
df = pd.read_csv('EDA02titanic.csv')
age = df.age

In [141]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [142]:
age.sort_values()

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [146]:
age.sort_values(ascending=False).head(5)

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
Name: age, dtype: float64

In [149]:
#same as above but efficient
age.nlargest(n=5)

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
Name: age, dtype: float64

In [150]:
age.sort_values(ascending=True).head(5)

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
Name: age, dtype: float64

In [153]:
#same as above
age.nsmallest(n = 5)

803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
Name: age, dtype: float64

In [155]:
age.nlargest(n=5).index

Int64Index([630, 851, 96, 493, 116], dtype='int64')

In [156]:
#index of largest value
age.nlargest(n=5).index[0]

630

In [157]:
age.nsmallest(n=3)

803    0.42
755    0.67
469    0.75
Name: age, dtype: float64

In [158]:
#find smallest among all and its index
age.nsmallest(n=3).index

Int64Index([803, 755, 469], dtype='int64')

In [163]:
#special method of pandas
print(age.nlargest(n=5).index[0])
print(age.idxmax())

630
630

In [165]:
print(age.nsmallest(n=5).index[0])
print(age.idxmin())

803
803

In [164]:
#row of maximum age
df.loc[df.age.idxmax()]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [166]:
#min age row
df.loc[df.age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

In [168]:
dict = {'mon':56,'tue':33,'sun':34,'thur':80,'fri':12}
dict
sale = pd.Series(dict)
sale

mon     56
tue     33
sun     34
thur    80
fri     12
dtype: int64

In [172]:
#max value index
print(sale.sort_values(ascending=False).index[0])
print(sale.idxmax())

thur
thur

In [173]:
print(sale.sort_values(ascending=True).index[0])
print(sale.idxmin())

fri
fri